.usage {
  margin: 0 30px;
  &-relative {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  &-sentence {
    padding: 20px 0;
    &-main {
      padding: 30px 0 ;
    }
  }
}

.head {
  
  &-text {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
}

.word {
  display: inline-block;
  margin: 10px 20px 10px 0;
  padding: 0 30px;
  height: 60px;
  line-height: 50px;
  border-radius: 30px;
  background-color: #efefef;
  &-text {
    font-size: 20px;
  }
}

.holder {
  padding: 60px;
  text-align: center;
  &-text {
    color: #bbb;
    font-size: 28px;
  }
}

.loadbtn {
  display: flex;
  justify-content: center;
  &-contain {
    width: 160px;
    height: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 30px;
  }
  &-text {
    font-size: 28px;
    color: #aaa;
  }
}