.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  border-bottom: 1px solid #eee;
  background-color: #242424;
  &-contain {
    display: flex;
    align-items: center;
    width: 640px;
    padding: 0 20px;
    height: 80px;
    border-radius: 80px;
    background-color: #aaa;
  }
  &-input {
    padding: 0 10px;
    font-size: 26px;
    color: #ffffff;
    &-holder {
      color: #efefef;
    }
  }
}

.main {
  padding: 20px;
  &-title {
    padding: 10px 35px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  &-scroll {
    padding: 30px 0;
    // display: flex;
    // flex-wrap: nowrap;
    &-item {
      margin: 20px;
    }
  }
}

.holder {
  padding: 100px;
  text-align: center;
  &-text {
    color: #bbb;
    font-size: 28px;
  }
}
